body {
	font-size: 100%;
	line-height: 1.61803399; /* "Golden Ratio" */
	font-family: sans-serif;
	color: #444444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

main {
	max-width: 80ch;
	margin: 0 auto;
	padding: 5px;
}

h1, h2 {
	font-family: serif;
	line-height: 1.2;
}

header, footer {
	text-align: center;
}

h1 {
	margin-bottom: 0;
}

footer p {
	margin-top: 0;
	font-size: .9em;
	line-height: .5;
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
}
