html {
	font-size: 1em;
	line-height: 1.61803399; /* The "Golden Ratio" */
	font-family: sans-serif;
	color: #444;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

main {
	max-width: 80ch;
	margin: 0 auto;
	padding: 5px;
}

h1 {
	margin-bottom: 0;
}

h1,
h2 {
	font-family: serif;
	line-height: 1.2;
}

header,
footer {
	text-align: center;
}

footer p {
	font-size: .9em;
	line-height: .5;
}

hr {
	max-width: 82ch;
	border: 0;
	border-top: 1px solid #ccc;
}
